/* @media(min-width:768px){
    .top-navbar{
        text-align: center;
    }
    .top-navbar .btn{
        margin-left: 1.5rem;
        width: 100%;
    }
    .top-navbar .nav-link{
        padding-left: 1.5rem;
    }
    .top-banner h1{
        font-size: 2.5rem;width: 30rem;
    }
    .top-banner p{
        font-size: 1.8rem;width: 36rem;
    } 
}*/
@media(min-width:1000px){
    .top-navbar{
        height: 5rem;
    }
    .top-banner{
        padding: 5.735rem 0 6.735rem;
    }
    .top-navbar a{
        margin-left: 1rem;text-decoration: none;color: var(--primary-color);
       text-transform: capitalize;font-family: var(--primary-font);
       font-weight: bold;font-size: 1.3rem;
    }
    .top-banner h1{
        font-size: 3rem;width: 40rem;
    }
    .top-banner p{
        font-size: 1.7rem;width: 36rem;
    }
    .top-banner button{
        font-size: 1.2rem;width: 11rem;
    }
    .top-banner .top-heading{
        margin-bottom: 10rem;
    }
    .aboutus-section{
        margin-top: 4rem;
    }
    .aboutus-section h1{
        font-size: 3rem;
    }
    .aboutus-section p{
        font-size: 2rem;
    }
    .aboutus-section button{
        width: 16rem;height: 3.5rem;font-size: 2rem;
    }
    .explore-food{
        margin-top: 4rem;
    }
    .explore-food button{
        background-color: var(--primary-color);font-size: 1rem;
        border-radius: none;border: none;width: 9rem;padding: .5rem;
        color: var(--btn-color);font-size: 1rem;text-transform: capitalize;
        margin-bottom: 1rem;margin-top: 1rem;
    }
    .explore-food button:hover{
        background-color: #A82c20;
    }
    .story-section{
        padding: 5rem;
    } 
    .stsection .st1{
        font-size: 2.1rem;width: 50rem;
    }
    .stsection .st2{
        font-size: 1.7rem;width: 50rem;
    } */
     .stsection button{
        background-color: var(--primary-color);font-size: 1rem;color: var(--btn-color);
        border-radius: none;border: none;width: 10rem;height: 3rem;font-size: 1.2rem;
        margin-left: 20rem;
    }
    .stsection button:hover{
        background-color: #A82c20;
    }
}
/* @media(min-width:768px){
    .counter-section{
        height: 9rem;
    }
    .counter-section span{
        font-size: 2.3rem;
    }
    .counter-section p{
     font-size: 1.8rem;
     padding-bottom: .8rem;
    }
} */
 @media(max-width:576px){
    .top-navbar{
        text-align: center;
    }
    .top-navbar .nav-link{
        padding-left: 3rem;
    }
    .top-navbar button{
        margin-left: 4rem;
    }
    .counter-section{
        height: 6rem;
    }
    .counter-section span{
        font-size: 1.2rem;
        padding-bottom: .5rem;
    }
    .top-banner{
        padding: 6.735rem 0 4.735rem;
    }
    .top-banner button{
        display: block;
        background-color: var(--primary-color);font-size: 1rem;
        border-radius: none;border: none;width: 9rem;padding: .5rem;
        color: var(--btn-color);font-size: 1rem;text-transform: capitalize;
        margin-bottom: 1rem;
     }
     .aboutus-section{
        margin-top: 1rem;
     }
     .aboutus-section h1{
        margin-top: 1rem;
     }
     .explore-food{
        margin-top: 3rem;
    }
    .explore-food .correct{
        color: var(--primary-color);
    }
     .explore-food button{
        background-color: var(--primary-color);font-size: 1rem;
        border-radius: none;border: none;width: 9rem;padding: .5rem;
        color: var(--btn-color);font-size: 1rem;text-transform: capitalize;
        margin-bottom: 1rem;margin-top: 1rem;
    }
    .stsection .st1{
        font-size: 1.2rem;
    }
    .stsection .st2{
        font-size: .8rem;
    }
    .stsection button{
        background-color: var(--primary-color);color: var(--btn-color);
        border-radius: none;border: none;width: 7rem;height: 1.8rem;font-size: .8rem;
    }
    .stsection button:hover{
        background-color: #A82c20;
    }
}
 @media(min-width:576px){
    .top-navbar{
        text-align: center;
    }
    .top-navbar .nav-link{
        padding-left: 3rem;
    }
    .top-navbar button{
        margin-left: 4rem;
    }
    .counter-section{
        height: 7.5rem;
    }
    .counter-section span{
        font-size: 1.8rem;
        padding-bottom: .5rem;
    }
    .aboutus-section{
        margin-top: 3rem;
     }
    .aboutus img{
        height: 23rem;
    }
    .counter-section p{
        font-size: 1.3rem;
    }
    .aboutus-section h1{
        font-size: 2.4rem;margin-top: .5rem;
    }
    .aboutus-section p{
        font-size: 1.2rem;
    }
    .aboutus-section button{
        width: 10rem;height: 2.4rem;font-size: 1.1rem;
    }
    .explore-section{
        margin-top: 3rem;
    }
    .exploreimage{
        margin-top: 2rem;
    }
    .explore-section button{
        background-color: var(--primary-color);font-size: 1rem;
        border-radius: none;border: none;width: 9rem;padding: .5rem;
        color: var(--btn-color);font-size: 1rem;text-transform: capitalize;
        margin-bottom: 1rem;margin-top: 1rem;
    }
 }
